

<section class="row">
    <div class="text-center col-lg-auto">
        <div class="row">
            <div class="col-md-8" style="background-size: cover; background-repeat: no-repeat; background-image: url('/public/landing1.jpg'); width: 100vw; margin: 0; padding: 0;">
                <div class="rounded col-6 m-auto" style="background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)); background-size: cover; background-position: center;">
                    <h2 class="mbr-section-title mbr-fonts-style mbr-bold align-center display-1">¡Hola a todos!</h2>
                    <h3 class="mbr-section-subtitle mbr-fonts-style align-center display-5">Soy Darold K. Trench <span>Developer FullStack</span></h3>
                    <h4 class="mbr-text mbr-fonts-style align-center display-7">Amante del Desarrollo Backend!</h4>
                    <div class="mbr-section-btn">
                        <a class="btn-primary btn btn-md display-4 mb-3" href="https://github.com/Grukur">Mi GitHub</a>
                        <a class="btn-primary btn btn-md display-4 mb-3" href="https://www.linkedin.com/in/darold-trench-mancini/">Mi Linkedin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div>
        <h2 class="mbr-fonts-style mbr-section-title align-center display-2">Proyecto Certificación TD</h2>
        <div class="underline align-center">
            <div class="line"></div>
        </div>
        <h3 class="mbr-fonts-style mbr-section-subtitle align-center mbr-light pt-3 display-6">
            Presento la aplicación Full Stack desarrollada en JavaScript. Esta aplicación combina un frontend atractivo y dinámico con un potente backend para brindar una experiencia de usuario excepcional. Permítanme darles un vistazo a las tecnologías clave que hemos utilizado en este proyecto.</h3>
        <div class="row justify-content-center pt-5">
            <div class="col-md-6 row-item col-lg-4">
                <div class="card-img pb-3 align-left">
                    <span class="mbr-iconfont mbri-edit" media-simple="true"></span>
                </div>
                <h4 class="mbr-fonts-style mbr-card-title display-5">Frontend</h4>
                <p class="mbr-text mbr-fonts-style display-7">En el lado del frontend, trabajé con HTML, CSS y Bootstrap. Estas herramientas me permitieron crear una interfaz de usuario moderna y receptiva, con un diseño elegante y adaptativo que se ajusta a diferentes dispositivos y tamaños de pantalla. Además, utilicé Handlebars como motor de plantillas para generar contenido dinámico y personalizado en el lado del servidor</p>
            </div>
            <div class="col-md-6 row-item col-lg-4">
                <div class="card-img pb-3 align-left">
                    <span class="mbr-iconfont mbri-photos" media-simple="true"></span>
                </div>
                <h4 class="mbr-fonts-style mbr-card-title display-5">Backend</h4>
                <p class="mbr-text mbr-fonts-style display-7">Para el backend, elegí trabajar con Node.js y Express.js. Estas tecnologías me brindaron una base sólida para manejar las solicitudes entrantes, procesar la lógica empresarial y establecer una comunicación eficiente entre el frontend y la base de datos. Me impresionó la capacidad de Node.js para manejar una gran cantidad de solicitudes de manera eficiente y escalable.</p>
            </div>
            <div class="col-md-6 row-item col-lg-4">
                <div class="card-img pb-3 align-left">
                    <span class="mbr-iconfont mbri-sites" media-simple="true"></span>
                </div>
                <h4 class="mbr-fonts-style mbr-card-title display-5">Database</h4>
                <p class="mbr-text mbr-fonts-style display-7">En cuanto a la base de datos, opté por utilizar Postgres, un sistema de gestión de bases de datos relacional. Me atrajo la confiabilidad y flexibilidad que ofrece, y me permitió almacenar y recuperar datos de manera eficiente, brindando a los usuarios una experiencia fluida y sin problemas.</p>
            </div>
            <div class="col-md-6 row-item col-lg-4">
                <div class="card-img pb-3 align-left">
                    <span class="mbr-iconfont mbri-like" media-simple="true"></span>
                </div>
                <h4 class="mbr-fonts-style mbr-card-title display-5">Handlebars</h4>
                <p class="mbr-text mbr-fonts-style display-7">Además, implementé el motor de plantillas Handlebars para facilitar la generación dinámica de contenido en el lado del servidor. Handlebars nos permite construir vistas dinámicas de manera eficiente, lo que es fundamental para brindar una experiencia de usuario personalizada y atractiva.</p>
            </div>
            <div class="col-md-6 row-item col-lg-4">
                <div class="card-img pb-3 align-left">
                    <span class="mbr-iconfont mbri-like" media-simple="true"></span>
                </div>
                <h4 class="mbr-fonts-style mbr-card-title display-5">Sequelize</h4>
                <p class="mbr-text mbr-fonts-style display-7">Para simplificar la interacción con la base de datos, decidí utilizar Sequelize como ORM (Object-Relational Mapping). Esto me permitió mapear los objetos de la aplicación a tablas en la base de datos, facilitando la manipulación y consulta de datos. Fue una forma eficiente y elegante de trabajar con la base de datos.</p>
            </div>
            <div class="col-md-6 row-item col-lg-4">
                <div class="card-img pb-3 align-left">
                    <span class="mbr-iconfont mbri-like" media-simple="true"></span>
                </div>
                <h4 class="mbr-fonts-style mbr-card-title display-5">Cloudinary</h4>
                <p class="mbr-text mbr-fonts-style display-7">En lo que respecta al almacenamiento y gestión de archivos, encontré una excelente solución en Cloudinary. Esta plataforma en la nube me permitió cargar y gestionar archivos multimedia de manera segura y eficiente, ofreciendo una experiencia completa y sin interrupciones a los usuarios de la aplicación.</p>
            </div>
            <div class="col-md-6 row-item col-lg-4">
                <div class="card-img pb-3 align-left">
                    <span class="mbr-iconfont mbri-like" media-simple="true"></span>
                </div>
                <h4 class="mbr-fonts-style mbr-card-title display-5">Render</h4>
                <p class="mbr-text mbr-fonts-style display-7">En cuanto al despliegue de la aplicación, elegí Render como mi proveedor de servicios en la nube. Render ofrece una plataforma confiable y fácil de usar que me permitió implementar y escalar mi aplicación de manera eficiente. Estoy muy satisfecho con la calidad y el rendimiento que obtuve al utilizar Render para el despliegue.</p>
            </div>
        </div>
    </div>
</section>



